/* RESET RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

p {
    line-height: 30px;
}

h3 {
    font-size: 20px;
    margin-bottom: 33px;
}

section.section {
    padding-left: 18px;
    padding-right: 18px;
}

/* COLOR PALETTE */
:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --violet: #9792E4;
    --white: #FFF;
    --dark-grey: #333;
    --gold: #FDC15F;
    --black: #000;
}

/* UTILITY CLASSES */

    /* containers */
.container-lg {
    max-width: 1164px;
    margin: 0 auto;
}

.container-md {
    max-width: 1050px;
    margin: 0 auto;
}

.container-sm {
    max-width: 880px;
    margin: 0 auto;
}

    /* row */
.row {
    display: flex;
    flex-wrap: wrap;
}

    /* columns */
.col {
    padding: 0 12px;
}

.col-12 {
    flex-basis: 100%;
}

section .col {
    flex-basis: 100%;
}

.col-stretched {
    min-height: 100%;
}

    /* content flex positioning */
.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-end {
    display: flex;
    align-items: flex-end;
}

    /* text positioning */
.text-center {
    text-align: center;
}

    /* margins and paddings */
.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-55 {
    margin-bottom: 55px;
}

    /* text colors */
.text-blue {
    color: var(--blue);
}

.text-violet {
    color: var(--violet);
}

.text-white {
    color: var(--white);
}

/* COMPONENTS */
.btn {
    white-space: nowrap;
}

.btn.btn-navbar {
    line-height: 38px;
    background-color: var(--white);
    color: var(--black);
    padding: 0 17px;
    border-radius: 18px;
}

.btn.btn-blue {
    line-height: 42px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    padding: 0 50px;
}

.btn.btn-purple {
    background-color: var(--violet);
    font-weight: bold;
    line-height: 40px;
    padding: 0 50px;
    border-radius: 30px;
}

.btn.btn-linkedin {
    font-size: 13px;
    line-height: 35px;
    padding: 0 15px;
    background-color: var(--violet);
    align-self: flex-start;
    border-radius: 25px;
}

.upper-word {
    text-transform: uppercase;
    display: block;
}

/* PAGE HEADER STYLING SECTION */
.page-header {
    background-color: var(--blue);
    color: var(--white);
    padding: 20px 30px;
    font-size: 15px;
}

.navbar__hamburger-menu {
    font-size: 25px;
    cursor: pointer;
}

.navbar__links {
    display: none;
    gap: 30px;
    line-height: 40px;
}

.navbar-link:hover {
    text-decoration: underline;
}

/* SECTION HERO STYLING SECTION */
.hero {
    padding: 50px 0;
}

.section.hero .row {
    row-gap: 24px;
}

.card.card-features {
    background-color: var(--light-blue);
    border-radius: 20px;
}

.card > .card-icon {
    font-size: 80px;
    padding: 0 30px;
}

.card-content {
    padding: 20px 30px;
    font-size: 14px;
}

.card-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card-img figure > img {
    max-width: 220px;
}

/* SECTION PLANNING STYLING SECTION */
.section.planning {
    background-color: var(--violet);
    padding-top: 65px;
    padding-bottom: 60px;
}

.section.planning .row {
    row-gap: 38px;
}

.planning__strategic figure {
    margin-bottom: 80px;
}

.planning__strategic {
    padding: 0 12px;
}

.planning__strategic h2 {
    font-size: 30px;
}

.section.planning p {
    font-size: 14px;
}

.planning__development {
    background-color: var(--white);
    border-radius: 40px;
    padding: 23px;
}

.planning__development figure {
    margin-bottom: 30px;
}

.planning__development p {
    margin-bottom: 36px;
    font-style: italic;
    font-weight: bold;
}

.development-arrow {
    border-radius: 50%;
    background-color: var(--violet);
    display: flex;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

/* SECTION TESTIMONIALS STYLING SECTION */
.section.testimonials {
    padding-top: 68px;
    padding-bottom: 110px;
}

.section.testimonials .col.col-12:first-child {
    padding: 0;
}

.testimonials__introduction {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.testimonials__introduction .upper-word {
    font-size: 15px;
}

.testimonials__showcase .row, .section.benefits .row + .row{
    row-gap: 33px;
}

.testimonial {
    background-color: var(--violet);
    border-radius: 50px;
    padding: 32px 20px;
    text-align: center;
}

.testimonial figure .testimonial-img {
    border-radius: 50%;
    max-width: 70%;
    object-fit: cover;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
}

.testimonial .col {
    padding: 0;
}

.testimonial figure, .testimonial p  {
    margin-bottom: 20px;
}

/* SECTION BENEFITS STYLING SECTION */
.section.benefits {
    background-color: var(--violet);
    padding-top: 75px;
    padding-bottom: 65px;
}

.benefits__title {
    margin-bottom: 70px;
}

.card.card-benefits {
    background-color: var(--white);
    border-radius: 20px;
    padding: 30px 0;
}

.card.card-benefits > .card-icon {
    font-size: 40px;
}

.card.card-benefits > .card-content p {
    margin-bottom: 30px;
}

/*  SECTION ABOUT-US STYLING SECTION  */
.section.about-us {
    padding-top: 90px;
    padding-bottom: 80px;
}

.section.about-us .about-us__overview{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us__description h2 {
    font-size: 40px;
}

.about-us__description p:nth-child(2) {
    margin-bottom: 65px;
}

.about-us__description p:nth-child(3) {
    margin-bottom: 50px;
}

.about-us__profile {
    position: relative;
}

.about-quote {
    position: absolute;
    left: 45%;
    top: 8%;
    font-size: 55px;
}

.about-us__img {
    border-radius: 50%;
    width: 60%;
    max-width: 300px;
    object-fit: cover;
}

.about-us__caption {
    margin-bottom: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {

    /* hero section */
    .card-img {
        align-items: center;
    }

    /* testimonial section */
    .testimonial > .col.col-2{
        flex-basis: calc((100% / 12) * 2);
    }

    .testimonial > .col.col-10{
        flex-basis: calc((100% / 12) * 10);
    }

    .testimonial__description {
        padding-left: 20px;
        text-align: start;
    }

    .testimonial figure {
        padding-bottom: 0;
    }

    .testimonial figure .testimonial-img {
        max-width: 100%;
    }

    /* about us section */
    .section.about-us .col.col-8{
        flex-basis: calc((100% / 12) * 8);
    }

    .section.about-us .col.col-4 {
        flex-basis: calc((100% / 12) * 4);
    }

    .about-us__profile .about-us__img {
        width: 100%;
        max-width: 260px;
    }

    .about-quote {
        position: absolute;
        left: 80%;
        top: 5%;
        font-size: 55px;
    }
}

@media screen and (min-width: 800px) {

    /* navbar section */
    .col > .navbar__hamburger-menu {
        display: none;
    }

    .navbar__links {
        display: flex;
    }

    /* hero section */
    .section.hero .col.col-8{
        flex-basis: calc((100% / 12) * 8);
    }

    .section.hero .col.col-4 {
        flex-basis: calc((100% / 12) * 4);
    }

    .card-img {
        align-items: flex-start;
    }

    /* planning section */
    .planning__strategic h2 {
        font-size: 60px;
    }

    .section.planning {
        padding-top: 110px;
    }

    /* testimonial section */
    .testimonials__introduction h2 {
        font-size: 40px;
    }

    /* card benefits */
    .section.benefits .col.col-4 {
        flex-basis: calc((100% / 12) * 6);
    }

    .section.benefits .benefits__title {
        font-size: 40px;
    }

    .card.card-benefits > .card-icon {
        font-size: 60px;
    }

    .card.card-benefits .card-title {
        font-size: 25px;
    }

    /* about-us section */
    .section.about-us .about-us__overview {
        padding-left: 70px;
    }
}

@media screen and (min-width: 920px) {

    /* planning section */
    .section.planning .col.col-6 {
        flex-basis: calc((100% / 12) * 6);
    }

    .planning__development figure img {
        max-width: 300px;
        margin: 0 auto;
    }

    .planning__strategic h2 {
        font-size: 30px;
    }

    /* testimonial section */
    .testimonials__introduction p {
        padding: 0 20px ;
    }

    .row.testimonial {
        align-items: center;
    }

    .testimonial__description {
        padding-left: 60px;
    }
}

@media (min-width: 1200px) {
    /* hero section */
    .section.hero .col.col-6 {
        flex-basis: calc((100% / 12) * 6);
    }

    .card-img {
        align-items: center;
    }

    /* card benefits */
    .section.benefits .col.col-4 {
        flex-basis: calc((100% / 12) * 4);
    }
}

/*debug*/
.debug .container-lg {
    border-right: 2px dashed violet;
    border-left: 2px dashed violet;
}

.debug .row {
    border: 2px solid red;
}

.debug [class^="col"] {
    border: 3px solid black; 
}