/* RESET RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

p {
    line-height: 30px;
}

h3 {
    font-size: 20px;
    margin-bottom: 33px;
}

/* COLOR PALETTE */
:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --violet: #9792E4;
    --white: #FFF;
    --dark-grey: #333;
    --gold: #FDC15F;
    --black: #000;
}

/* UTILITY CLASSES */

    /* containers */
.container-lg {
    max-width: 1164px;
    margin: 0 auto;
}

.container-md {
    max-width: 1050px;
    margin: 0 auto;
}

.container-sm {
    max-width: 880px;
    margin: 0 auto;
}

    /* row */
.row {
    display: flex;
    flex-wrap: wrap;
}

    /* columns */
.col {
    padding: 0 12px;
}

.col-12 {
    flex-basis: 100%;
}

section .col {
    flex-basis: 100%;
}

.col-stretched {
    min-height: 100%;
}

    /* content flex positioning */
.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-end {
    display: flex;
    align-items: flex-end;
}

    /* text positioning */
.text-center {
    text-align: center;
}

    /* margins and paddings */
.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-55 {
    margin-bottom: 55px;
}


/* COMPONENTS */
.btn {
    white-space: nowrap;
}

.btn.btn-navbar {
    line-height: 38px;
    background-color: var(--white);
    color: var(--black);
    padding: 0 17px;
    border-radius: 18px;
}

.btn.btn-blue {
    line-height: 42px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    padding: 0 50px;
}

/* PAGE HEADER STYLING SECTION */
.page-header {
    background-color: var(--blue);
    color: var(--white);
    padding: 20px 30px;
    font-size: 15px;
}

.navbar__hamburger-menu {
    font-size: 25px;
    cursor: pointer;
}

.navbar__links {
    display: none;
    gap: 30px;
    line-height: 40px;
}

.navbar-link:hover {
    text-decoration: underline;
}

/* SECTION HERO STYLING SECTION */
.section.hero {
    padding: 50px 30px;
}

.section.hero .row {
    row-gap: 24px;
}

.card.card-features {
    background-color: var(--light-blue);
    border-radius: 20px;
}

.card > .card-icon {
    color: var(--blue);
    font-size: 80px;
}

.card-content {
    padding: 20px 30px;
    font-size: 14px;
}

.card-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card-img figure > img {
    max-width: 220px;
}

.card-content > .card-title {
    color: var(--blue);
}

/* SECTION PLANNING STYLING SECTION */
.section.planning {
    background-color: var(--violet);
    padding-top: 65px;
    padding-bottom: 60px;
}

.section.planning .row {
    row-gap: 38px;
}

.section.planning .col.col-6:last-child {
    padding: 0 24px;
}

.planning__strategic figure {
    margin-bottom: 80px;
}

.planning__strategic {
    color: var(--white);
    padding: 0 12px;
}

.planning__strategic h2 {
    font-size: 30px;
}

.section.planning p {
    font-size: 14px;
}

.planning__development {
    background-color: var(--white);
    border-radius: 40px;
    padding: 23px;
}

.planning__development figure {
    margin-bottom: 30px;
}

.planning__development p {
    margin-bottom: 36px;
    font-style: italic;
    font-weight: bold;
}

.development-arrow {
    border-radius: 50%;
    background-color: var(--violet);
    display: flex;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}



/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    .card-img {
        align-items: center;
    }
}

@media screen and (min-width: 800px) {

    /* navbar section */
    .col > .navbar__hamburger-menu {
        display: none;
    }

    .navbar__links {
        display: flex;
    }

    /* hero section */
    .section.hero .col.col-8{
        flex-basis: calc((100% / 12) * 8);
    }

    .section.hero .col.col-4 {
        flex-basis: calc((100% / 12) * 4);
    }

    .card-img {
        align-items: flex-start;
    }

    /* planning section */
    .planning__strategic h2 {
        font-size: 60px;
    }

    .section.planning {
        padding-top: 110px;
    }
}

@media screen and (min-width: 920px) {

    /* planning section */
    .section.planning .col.col-6 {
        flex-basis: calc((100% / 12) * 6);
    }

    .planning__development figure img {
        max-width: 300px;
        margin: 0 auto;
    }

    .planning__strategic h2 {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    /* hero section */
    .section.hero .col.col-6 {
        flex-basis: calc((100% / 12) * 6);
    }

    .card-img {
        align-items: center;
    }
}

/*debug*/
.debug .container-lg {
    border-right: 2px dashed violet;
    border-left: 2px dashed violet;
}

.debug .row {
    border: 2px solid red;
}

.debug [class^="col"] {
    border: 3px solid black;
    /* min-height: 100px; */
    /* padding: 20px; */
}