/* RESET RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    display: inline-block;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* COLOR PALETTE */
:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --violet: #9792E4;
    --white: #FFF;
    --dark-grey: #333;
    --gold: #FDC15F;
    --black: #000;
}

/* UTILITY CLASSES */

    /* containers */
.container-lg {
    max-width: 1140px;
    margin: 0 auto;
}

.container-md {
    max-width: 1050px;
    margin: 0 auto;
}

.container-sm {
    max-width: 880px;
    margin: 0 auto;
}

    /* row */
.row {
    display: flex;
    flex-wrap: wrap;
}

    /* columns */
.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: 100%;
}

    /* content flex positioning */
.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

/* COMPONENTS */
.btn.btn-navbar {
    line-height: 38px;
    background-color: var(--white);
    color: var(--black);
    padding: 0 17px;
    border-radius: 18px;
}

/* PAGE HEADER STYLING SECTION */
.page-header {
    background-color: var(--blue);
    color: var(--white);
    padding: 20px 30px;
    font-size: 15px;
}

.navbar__hamburger-menu {
    font-size: 25px;
    cursor: pointer;
}

.navbar__links {
    display: none;
    gap: 30px;
    line-height: 40px;
}

.navbar-link:hover {
    text-decoration: underline;
}




/* MEDIA QUERIES */
@media screen and (min-width: 810px) {
    .col > .navbar__hamburger-menu {
        display: none;
    }

    .navbar__links {
        display: flex;
    }
}


/*debug*/
.debug .container-lg {
    border-right: 2px dashed violet;
    border-left: 2px dashed violet;
}

.debug .row {
    border: 2px solid red;
}

.debug [class^="col"] {
    border: 3px solid black;
}